<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../../css/style.css">
    <title>Requested {{thing}} Not Found</title>
</head>
<body>
    <div class="container">
        <div class="body">
            {{>header}}
            <h3>Error 404</h3>
            <p>The {{thing}} that you're looking for not found!</p>
        </div>
        {{>footer}}
    </div>
</body>
</html>